{% load static %}
  <!-- Footer -->
  <footer>
    <div class="footer__top">
        <!-- Section-partner -->
        <section class="section__partner">
            <div class="container">
                <div class="partner-carousel-wrap">
                    <div class="partner-carousel owl-carousel">
                        <div class="single-partner">
                            <img src="{{ STATIC_PREFIX }}img/brand/makita.png" alt="makita">
                        </div>
                        <div class="single-partner">
                            <img src="{{ STATIC_PREFIX }}img/brand/metabo.png" alt="metabo">
                        </div>
                        <div class="single-partner">
                            <img src="{{ STATIC_PREFIX }}img/brand/dewalt.png" alt="dewalt">
                        </div>
                        <div class="single-partner">
                            <img src="{{ STATIC_PREFIX }}img/brand/stihl.png" alt="stihl">
                        </div>
                        <div class="single-partner">
                            <img src="{{ STATIC_PREFIX }}img/brand/bosch.png" alt="bosch">
                        </div>
                        <div class="single-partner">
                            <img src="{{ STATIC_PREFIX }}img/brand/stanley.png" alt="stanley">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Section-partner -->

        <!-- Section info -->
        <section class="info">
            <div class="container">
                <div class="wrapper__info">
                    <ul class="shop">
                        <li>© 2019-2021 Магазин "База інструментів"</li>
                    </ul>
                    <ul class="social">
                        <li><span>Ми в соціальних мережах : </span></li>
                        <li>
                            <a href="https://www.instagram.com/baza_instrumentiv/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100046299372452">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Section info -->
    </div>
</footer>
<!-- End footer -->