{% load static %}
<!-- Header -->
<header>
    <div class="header__top">
        <div class="container">
            <div class="header__body">
                <div class="header__logo">
                    <a href="./index.html">
                        <img src="{{ STATIC_PREFIX }}img/logo.png" alt="logo">
                    </a>
                </div>
                <div class="header__contact">
                    <ul>
                        <li>
                            <i class="fas fa-phone"></i>
                            <a href="tel:+380673632002">+380 (67) 363 2002</a>                                
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:rivne-baza@ukr.net">rivne-baza@ukr.net</a>                                
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__body">
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a href="">Головна</a></li>
                        <li><a href="">Про нас</a></li>
                        <li><a href="">Як нас знайти</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="header__burger__menu">
        <div class="container">
            <ul class="header__burger__list">
                <li><span>Бренди</span></li>                  
                <li><a href="">Bosch</a></li>
                <li><a href="">DeWalt</a></li>
                <li><a href="">Makita</a></li>
                <li><a href="">Metabo</a></li>
                <li><a href="">Stihl</a></li>
                <li><a href="">Stanley</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- End header -->